@model  CASServer.Models.LocalPasswordModel

<h3>更改密码</h3>

@using (this.Html.BeginForm("Manage", "Account", new {@in = Dev.Comm.Web.DevRequest.GetInt("in", 0)}))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()
    <div class="right_side">
        <div class="info_basic_wrap">
            @*<div class="basic_row">
            <span class="red set_info">注：修改密码后需要重新登录</span>
        </div>*@
            <div class="basic_row">
                <div class="basic_title">
                    当前登录密码：
                </div>
                @Html.PasswordFor(m => m.OldPassword, new {@class = "inpt"})

            </div>
            <div class="basic_row">
                <div class="basic_title">
                    设置新的密码：
                </div>
                @Html.PasswordFor(m => m.NewPassword, new {@class = "inpt"})

            </div>
            <div class="basic_row">
                <div class="basic_title">
                    确认新的密码：
                </div>
                @Html.PasswordFor(m => m.ConfirmPassword, new {@class = "inpt"})
            </div>
            <div class="basic_button">
                <input type="submit" value="更改密码" />
            </div>

        </div>
    </div>
}