@model ICollection<AuthenticationClientData>

@if (this.Model.Count == 0)
{
    <div class="message-info">
        <p>
            未配置外部身份验证服务。请参见<a href="http://go.microsoft.com/fwlink/?LinkId=252166">此文章</a>，
            以详细了解如何将此 ASP.NET 应用程序设置为支持通过外部服务登录。
        </p>
    </div>
}
else
{
    using (this.Html.BeginForm("ExternalLogin", "Account", new {ReturnUrl = this.ViewBag.ReturnUrl}, FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        <p>
            @foreach (var p in this.Model)
            {
@*
            <a title="使用你的 @p.DisplayName 帐户登录" class="@if (p.ExtraData != null && p.ExtraData.ContainsKey("class"))
                                                       {
                                                             @p.ExtraData["class"]
                                                       }" href="javascript:void(0);"></a>*@


                <button type="submit" name="provider" class="@if (p.ExtraData != null && p.ExtraData.ContainsKey("class"))
                                                             {
                                                                 @p.ExtraData["class"]
                                                             }" value="@p.AuthenticationClient.ProviderName" title="使用你的 @p.DisplayName 帐户登录">@*@p.DisplayName*@</button>
            }
        </p>

@*<p><a class="sina" href="#"></a><a class="qq" href="#"></a><a class="taobao" href="#"></a></p>*@
    }
}