@model string
@{
    this.ViewBag.Title = "找回密码";
}
@section css{
    @Styles.Render("~/Content/toastmessage");
}
@section scripts{

    @Scripts.Render("~/bundles/toastmessage");
    <script type="text/javascript">
        var X_Des;

        function countseconds(sec, domid) {
            X_Des = setInterval(function() {
                sec = sec - 1;
                $("#" + domid).html(sec);
            }, 1000);
        }

        function sendATcode() {
            $.getJSON('@this.Url.Action("ResendSms")?' + $.now(), {
                    username: $('#username').val()
                }, function(d) {
                    if (d.ErrorCode != 0) {
                        showError(d.ErrorMessage);
                    } else {
                        showSuccess("已经发送完成");
                        countseconds(60, "code_show");
                    }

                });
        }

        function checkCode() {
            $.getJSON('@this.Url.Action("Checktoken")?' + $.now(), {
                    username: $('#username').val(),
                    token: $('#pCode').val(),
                }, function(d) {
                    if (d.ErrorCode == 0) {

                        window.location.href = "@this.Url.Action("ResetPwdByPhone")?username=" + $('#username').val() + "&token=" + $('#pCode').val();
                    } else {
                        showError(d.ErrorMessage);
                    }

                });
        }

        $(function() {
            //  document.getElementById("phones ").innerText = $("#phone").val();
            $("#Waiter").html('<span class="count" id="code_show">60</span>');
            countseconds(60, "code_show");
            setTimeout(function() {
                clearInterval(X_Des);

                $("#Waiter").html('<a href="#" id="code_show2" onclick="sendATcode();return true;">重新发送</a>');
            }, 60000);

            $(".nxt_green_btn").click(function() {

                var pCode = $("#pCode").val();
                if (pCode == "" || pCode == null) {
                    showError("请输入手机验证码。");
                    return false;
                }
                if (pCode.length < 6) {
                    showError("请输入6位手机验证码。");
                    return false;
                }
                checkCode();
                return false;

            });

            $(document).keydown(function(e) {
                if (e.keyCode == 13) {
                    $(".nxt_green_btn").click();

                }
            });
        });
    </script>
}
<div class="reg_wp">
    <div class="reg_title">
        <span class="reg_tag">找回密码</span>
    </div>
    <div class="reg_cont clear">
        <div class="pasd_get1">

            @using (this.Html.BeginForm("ResetPwdByPhone", "Account"))
            {
                @Html.Hidden("username", this.Model.Split(',')[1])
                <div class="new_item">
                    系统已将验证码发送至手机号：<span class="green1" id="phones">@Model.Split(',')[0]</span>
                </div>
                <div class="new_item">
                    输入手机获取的验证码：<input id="pCode" type="text" class="inpt reg_time" maxlength="6" name="pCode" />
                    <span id="Waiter"><span class="count" id="code_show">60</span> <a href="#" id="code_show2"
                                                                                      onclick=" sendATcode();return false; ">重新发送</a> </span>
                </div>
                <div class="new_item">
                    <a class="nxt_green_btn time_btn">下一步</a>
                </div>
            }

        </div>
    </div>
</div>