@{
    this.ViewBag.Title = "关于";
}

<hgroup class="title">
    <h1>@this.ViewBag.Title.</h1>
    <h2>@this.ViewBag.Message</h2>
</hgroup>

<article>
    <p>
        使用此区域可提供附加信息。
    </p>

    <p>
        使用此区域可提供附加信息。
    </p>

    <p>
        使用此区域可提供附加信息。
    </p>
</article>

<aside>
    <h3>副标题</h3>
    <p>
        使用此区域可提供附加信息。
    </p>
    <ul>
        <li>@Html.ActionLink("主页", "Index", "Home")</li>
        <li>@Html.ActionLink("关于", "About", "Home")</li>
        <li>@Html.ActionLink("联系方式", "Contact", "Home")</li>
    </ul>
</aside>

@section css
{
    @Styles.Render("~/Content/jqueryloadmask");
}

@section Scripts
{
    @Scripts.Render("~/bundles/json");
    @Scripts.Render("~/Content/jqueryloadmask");
    <script type="text/javascript">
        $(".btn").click(function() {
            $(".set_form").mask("保存中...");
            $.get("http://ssss.data", function(d) {
                $(".set_form").unmask();
            });
        });

    </script>
}